/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Colors */
:root {
  --primary: #cdc6ae; /* Primary color */
  --secondary: #38686a; /* Secondary color */
  --accent: #187795; /* Accent color */
  --background: #a3b4a2; /* Background color */
}
